<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent is-vertical is-6 content">
          <figure class="container">
            <img src="/assets/profile.jpg" alt="profile image">
          </figure>
          <article class="tile is-child notification is-black has-text-centered">
            <p class="title">Hi, I'm Masahiro Nakamata</p>
            <p class="subtitle">Backend Engineer</p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-black">
            <p class="title">Vertical...</p>
            <p class="subtitle">Top tile</p>
          </article>
          <article class="tile is-child notification is-black">
            <p class="title">...tiles</p>
            <p class="subtitle">Bottom tile</p>
          </article>
          <article class="tile is-child notification is-black">
            <p class="title">Another title</p>
            <p class="subtitle"></p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
