@import "~bulma/sass/utilities/mixins";

// icon
a {
  float: left;
  width: 5%;
  padding-right: 5px;
}

@mixin icon-colors($args...) {
  @each $symbol, $color in keywords($args) {
    .fa-#{$symbol} {
      color: $color;
    }
  }
}

@mixin skillAnimation($symbol, $proficiencyPercentage) {
  $animationId: Animate-#{$symbol};
  $duration: 3s;

  @keyframes #{$animationId} {
    from {
      width: 0;
    }
    to {
      width: $proficiencyPercentage - 5%;
    }
  }

  -webkit-animation: $animationId $duration;
  animation: $animationId $duration;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

@mixin skillBar($symbol, $proficiencyPercentage) {
  $className: skill-#{$symbol};

  .#{$className} {
    @include skillAnimation($symbol, $proficiencyPercentage);
  }

}

.skillBar {
  height: 35px;
  margin: 2px auto;

  @include icon-colors(
    $html5: #DD3b2d,
    $css3: #0277bd,
    $javascript: #e5a228,
    $angular: #E42939,
    $nodejs: #83CD29,
    $wordpress: #008AC1,
    $java: $white,
    $sass: $red
  );

  span {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
  }

  .skillArea {
    width: 90%;
    position: relative;

    @include skillBar(HTML5, 100%);
    @include skillBar(Java, 90%);
    @include skillBar(Angular, 50%);
    @include skillBar(SASS, 50%);
  }
}

@include mobile {
  .skillBar {
    width: 65%;
    height: 35px;
    margin: 10px auto;

    .natorIcon {
      font-size: 280%;
    }

    .skillArea {
      margin-left: 10px;
      position: relative;
      padding: 5px;
    }

    .skillName {
      font-size: 18px;
      margin-left: 1rem;
    }

    .skillProficiency {
      font-size: 18px;
    }
  }
}

@include tablet {
  .skillBar {
    width: 75%;
    margin: 10px auto;

    .natorIcon {
      font-size: 310%;
    }

    .skillArea {
      position: relative;
      left: 2.6rem;
      padding: 0.3rem;
    }

    .skillName {
      font-size: 22px;
      margin-left: 3rem;
    }

    .skillProficiency {
      font-size: 22px;
      margin-right: 1rem;
    }
  }
}
