.entry {
  position: relative;
  padding: 1.5rem 0;
  border-bottom: 1px solid #dbdbdb;

  &:last-of-type {
    border-bottom: none;
  }
}

.content-input {
  font-family: monospace;
}

.preview {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
