<section class="hero is-warning">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title">NAKAMATA.TECH</h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Works
            </a>
            <a class="navbar-item">
              About
            </a>
            <span class="navbar-item">
              <a class="button is-warning is-inverted">
                <span class="icon">
                  <fa-icon icon="check"></fa-icon>
                </span>
                <span>Contact</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        HOPE, COURAGE, BELIEVE <fa-icon icon="heart"></fa-icon>
      </h1>
    </div>
  </div>
</section>
