<div app-hero></div>
<div class="container is-fluid">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box notification is-warning">
        <figure class="image is-1by1">
          <img src="/assets/home/profile.jpg" alt="my name art">
        </figure>
      </div>
      <div class="tile is-child box notification is-warning">
        <p class="subtitle is-inline-block">Resume</p>
        <p class="indented">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-dcf40/o/resume_1col.pdf?alt=media" target="_blank">DOWNLOAD</a>
        </p>
        <p class="subtitle is-inline-block">Mail</p>
        <p class="indented">
          <a>Masahiro@Nakamata.tech</a>
        </p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box notification is-warning">
        <p class="title">About Masahiro</p>
        <p class="indented">I left Japan in order to step out of my comfort zone with great hope that I can contribute
          more for our world. With the experience I had in Japan as a Software engineer, I'd really love to deepen my
          understanding for a better system design & architecture. This is my passion. Call me Masa or Hiro!</p>
        <hr>
        <p class="title is-spaced">Skill</p>
        <p class="subtitle is-inline-block">Language</p>
        <p class="indented">TypeScript, Kotlin, Java, Swift, TypeScript</p>
        <p class="subtitle is-inline-block">Framework</p>
        <p class="indented">Angular, Node.js. Play Framework, Spring Boot, Ktor, Serverless Framework</p>
        <p class="subtitle is-inline-block">Database</p>
        <p class="indented">MySQL, PostgreSQL, SQLite, Neo4j</p>
        <p class="subtitle is-inline-block">Other</p>
        <p class="indented">Git, Docker, IntelliJ, CocoaPods, Gradle, Maven</p>
      </div>
    </div>
  </div>
</div>
