<div app-hero></div>

<p class='title is-2 has-text-centered is-spaced'> Language </p>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'> Frontend </p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'HTML5'" [proficiencyPercentage]="60"></app-skill-bar>
      <app-skill-bar [symbol]="'SASS'" [proficiencyPercentage]="60"></app-skill-bar>
      <app-skill-bar [symbol]="'JavaScript'" [proficiencyPercentage]="40"></app-skill-bar>
      <app-skill-bar [symbol]="'TypeScript'" [proficiencyPercentage]="30"></app-skill-bar>
    </div>
  </div>
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'> Mobile & Backend </p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'Kotlin'" [proficiencyPercentage]="65"></app-skill-bar>
      <app-skill-bar [symbol]="'Java'" [proficiencyPercentage]="90"></app-skill-bar>
      <app-skill-bar [symbol]="'C'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'Objective-C'" [proficiencyPercentage]="40"></app-skill-bar>
      <app-skill-bar [symbol]="'Swift'" [proficiencyPercentage]="55"></app-skill-bar>
      <app-skill-bar [symbol]="'Perl'" [proficiencyPercentage]="35"></app-skill-bar>
      <app-skill-bar [symbol]="'Php'" [proficiencyPercentage]="35"></app-skill-bar>
      <app-skill-bar [symbol]="'Lua'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'.NET VB'" [proficiencyPercentage]="35"></app-skill-bar>
      <app-skill-bar [symbol]="'.NET VBA'" [proficiencyPercentage]="50"></app-skill-bar>
    </div>
  </div>
</div>

<p class='title is-2 has-text-centered is-spaced'> Framework </p>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'> Frontend </p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'Angular'" [proficiencyPercentage]="40"></app-skill-bar>
      <app-skill-bar [symbol]="'React'" [proficiencyPercentage]="10"></app-skill-bar>
      <app-skill-bar [symbol]="'Vue.js'" [proficiencyPercentage]="10"></app-skill-bar>
      <app-skill-bar [symbol]="'Node.js'" [proficiencyPercentage]="15"></app-skill-bar>
    </div>
  </div>
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>Server Side</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'Play Framework'" [proficiencyPercentage]="60"></app-skill-bar>
      <app-skill-bar [symbol]="'Spring Boot'" [proficiencyPercentage]="40"></app-skill-bar>
      <app-skill-bar [symbol]="'Ktor'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'Serverless Framework'" [proficiencyPercentage]="10"></app-skill-bar>
    </div>
  </div>
</div>
<p class='title is-2 has-text-centered is-spaced'>Cloud Computing Platform</p>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>AWS</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'EC2'" [proficiencyPercentage]="60"></app-skill-bar>
      <app-skill-bar [symbol]="'S3'" [proficiencyPercentage]="60"></app-skill-bar>
      <app-skill-bar [symbol]="'Lambda'" [proficiencyPercentage]="50"></app-skill-bar>
      <app-skill-bar [symbol]="'API Gateway'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'Kinesis'" [proficiencyPercentage]="10"></app-skill-bar>
      <app-skill-bar [symbol]="'Redshift'" [proficiencyPercentage]="20"></app-skill-bar>
      <app-skill-bar [symbol]="'Cloud Formation'" [proficiencyPercentage]="10"></app-skill-bar>
    </div>
  </div>
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>GCP</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'GCE'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'Firebase'" [proficiencyPercentage]="10"></app-skill-bar>
    </div>
  </div>
</div>
<p class='title is-2 has-text-centered is-spaced'> Database </p>
<div class='skillBox'>
  <app-skill-bar [symbol]="'MySQL'" [proficiencyPercentage]="60"></app-skill-bar>
  <app-skill-bar [symbol]="'Postgress'" [proficiencyPercentage]="30"></app-skill-bar>
  <app-skill-bar [symbol]="'SQLite'" [proficiencyPercentage]="30"></app-skill-bar>
  <app-skill-bar [symbol]="'Neo4j'" [proficiencyPercentage]="20"></app-skill-bar>
</div>
<p class='title is-2 has-text-centered is-spaced'> Tools </p>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>Package Manager</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'npm'" [proficiencyPercentage]="10"></app-skill-bar>
      <app-skill-bar [symbol]="'CocoaPods'" [proficiencyPercentage]="10"></app-skill-bar>
      <app-skill-bar [symbol]="'Gradle'" [proficiencyPercentage]="30"></app-skill-bar>
      <app-skill-bar [symbol]="'Maven'" [proficiencyPercentage]="70"></app-skill-bar>
    </div>
  </div>
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>Virtualization</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'Docker'" [proficiencyPercentage]="50"></app-skill-bar>
      <app-skill-bar [symbol]="'Docker Compose'" [proficiencyPercentage]="30"></app-skill-bar>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>IDE</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'IntelliJ Ultimate'" [proficiencyPercentage]="80"></app-skill-bar>
      <app-skill-bar [symbol]="'WebStorm'" [proficiencyPercentage]="50"></app-skill-bar>
      <app-skill-bar [symbol]="'Visual Studio Code'" [proficiencyPercentage]="50"></app-skill-bar>
    </div>
  </div>
  <div class="tile is-vertical">
    <p class='subtitle is-4 has-text-centered'>Other</p>
    <div class='skillBox'>
      <app-skill-bar [symbol]="'Git'" [proficiencyPercentage]="90"></app-skill-bar>
      <app-skill-bar [symbol]="'CircleCI'" [proficiencyPercentage]="30"></app-skill-bar>
    </div>
  </div>
</div>
