.login-box {
  max-width: 420px;
  margin: 0 auto;
}

.entry {
  position: relative;
  padding: 1.5rem 0;
  border-bottom: 1px solid #dbdbdb;

  &:last-of-type {
    border-bottom: none;
  }
}

.entry-remove {
  margin-top: 0.75rem;
}
