@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

.subtitle {
  margin-bottom: 1rem;
}

.card-content {
  @include tablet {
    height: 11.5rem;
  }
  @include mobile {
    height: 14rem;
  }

  .title {
    margin-bottom: 0;
  }

  a {
    color: $grey;
  }

  .tag {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .content {
    height: 65%;
  }
}

