<app-nav></app-nav>
<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent is-vertical is-6 content">
          <div class="has-text-centered">
            <img src="/assets/profile.jpg" alt="profile image">
          </div>
          <article class="tile is-child notification is-black has-text-centered">
            <p class="title">Hi, I'm Masahiro Nakamata</p>
            <p class="subtitle">Backend Engineer</p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
        <div class="tile is-parent is-vertical">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
