/* You can add global styles to this file, and also import other style files */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';

body {
  background-color: $black;
}

.hero-body hr {
  border: none;
  background-color: $yellow;
  height: 0.25rem;
}

$nav-color: $black !default;
$nav-color-hover: $black !default;
$nav-font-size: 20px !default;
$nav-rounded: 3px !default;
$nav-margin: 0.8rem !default;
$nav-padding: 4px 7px !default;
$nav-background: $warning !default;
$nav-background-hover: #ffe57f !default;
$nav-disabled-opacity: 0.5 !default;

$dot-background: #ffe57f !default;
$dot-background-active: $warning !default;

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
