/* You can add global styles to this file, and also import other style files */
@import "~bulma/sass/utilities/initial-variables";

body {
  background-color: $black;
}

.hero-body hr {
  border: none;
  background-color: $yellow;
  height: 0.25rem;
}
