/* You can add global styles to this file, and also import other style files */
@import "~bulma/sass/utilities/initial-variables";

$footer-padding: 2rem 1.5rem 2rem;

body {
  background-color: $black;
}

.container hr {
  margin-right: 6%;
  border: none;
  background-color: $yellow;
  width: 90%;
  height: 0.25rem;
}


@import "~bulma";
