footer {
  padding: 0.2rem 1.5rem 0.2rem;
  border-top-width: 0.2rem;
  border-top-color: black;
  border-top-style: dashed;
  border-bottom-width: 0.2rem;
  border-bottom-color: black;
  border-bottom-style: dashed;
}
